# Introduction to Jupiter notebook

First python cals as DSFP4.0 Module 7.0 (Python)

# List of items in bullet and Numbers

## Numbering
1. Names
2. Gender
3. Age
4. Qualification

### Bulleting
- Names
- Gender
- Age
- Qualification

In [44]:
'Hello world'

'Hello world'

In [43]:
print('Hello world')

Hello world

![Logo](https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqhwujWlTCpHHDVDMpzztTxYLSKTgkPvBtzg&s)

![](https://www.google.com/imgres?q=baby&imgurl=https%3A%2F%2Fimages.ctfassets.net%2Fdvf03q5b4rnw%2F46MJVGPbXT2t5RcfFxd0Dl%2Fa039f4eb1751a1d665ea0380b8bad252%2F4J6A8109.jpg%3Fw%3D934%26h%3D1245%26q%3D80&imgrefurl=https%3A%2F%2Fwww.babyshop.com%2Fus%2Fen%2Fc%2Fbaby%2F&docid=868K9XRfsOQ84M&tbnid=aIH9sUalcBuijM&vet=12ahUKEwj98YrZo_eJAxWjXEEAHX6QMXoQM3oECBYQAA..i&w=934&h=1245&hcb=2&ved=2ahUKEwj98YrZo_eJAxWjXEEAHX6QMXoQM3oECBYQAA)

In [1]:
#Addition
2+4

6

In [2]:
#subtraction
6-4

2

In [3]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [4]:
# Measure the execution time of a Python statement
%time sum(range(5))

CPU times: total: 0 ns
Wall time: 0 ns

10

In [5]:
# List all defined variables in the notebook
%who

Interactive namespace is empty.

| Name       | Age | Profession    |
|------------|-----|---------------|
| Maryam    | 28| Data Analysis  |

In [6]:
type(42)

int

In [7]:
type(3.14)

float

In [8]:
type("Python")

str

In [9]:
type([1, 2, 3])

list

In [10]:
type({ "name": "John", "age": 30 })

dict

In [11]:
float(42)

42.0

In [12]:
str(42)

'42'

In [13]:
fav_fruit=['banana', 'orange', 'mango', 'grapes', 'apple']
type(fav_fruit)

list

In [14]:
var = "Hello, World!"
if isinstance(var, str):
    print("The variable is of type str.")
else:
    print("The variable is NOT of type str.")

The variable is of type str.

In [15]:
# Create a tuple with three different data types
my_tuple = (42, "Fiction", 3.14)

# Access the second element
second_element = my_tuple[1]

print("The second element is:", second_element)

The second element is: Fiction

In [16]:
# Create a dictionary with three key-value pairs
my_dict = {
    "name": "Khadija",
    "age": 30,
    "state": "Kano"
}

# Retrieve the value of a specific key
key_to_retrieve = "state"
value = my_dict.get(key_to_retrieve)

print(f"The value of the key '{key_to_retrieve}' is: {value}")

The value of the key 'state' is: Kano

In [17]:
type(var)

str

In [18]:
# Original float value
original_float = 10.33

# Typecast float to integer
casted_integer = int(original_float)

# Print the results
print("Original float value:", original_float)
print("After typecasting to integer:", casted_integer)

Original float value: 10.33
After typecasting to integer: 10

In [19]:
# Get input from the user
user_input = input("something: ")

# Check if the input is a number
try:
    float(user_input)  # Attempt to convert to a float
    print("The input is a number.")
except ValueError:
    print("The input is a string.")

something:
The input is a string.

In [42]:
#Assign values to three variables (x, y, z) and calculate their sum.
x=3
y=4
z=7
print(x + y + z)

14

## DAY 2
Exercise 1

In [31]:
 #Write a program to concatenate "Hello" and "Python" with a space between them.
string1 ="Hello"
string2 ="world"
conc_str =string1+ ' ' +string2
print(conc_str)

Hello world

In [32]:
#Calculate and print the length of "Learn to code in Python!"..
text = "Learn to code in Python!"
length = len(text)
print(length)

24

In [33]:
#From the string "Python Programming", extract the substring "Program".
strname="Python Programming"
strname[7:14]

'Program'

In [34]:
#Convert "Python Rocks!" to uppercase, lowercase, and title case
case="Python Rocks!"
case.lower()

'python rocks!'

In [35]:
#upper
case="Python Rocks!"
case.upper()

'PYTHON ROCKS!'

In [37]:
#title case
case="Python Rocks!"
case.title()

'Python Rocks!'

In [38]:
#Replace "bad" with "good" in the string "Python is not bad".
rplc="Python is not bad"
updated_rplc=rplc.replace("bad", "good")
print(updated_rplc)

Python is not good

In [39]:
#Check if "code" exists in "Coding is fun with Python".
check = "Coding is fun with Python"

# Check if "code" exists
exists = "code" in text.lower()

# Print the result
if exists:
    print('"code" exists in the string.')
else:
    print('"code" does not exist in the string.')

"code" exists in the string.

In [41]:
#Reverse "Python" and print it.
txt = "Python"

# Reverse the string
reversed_txt = txt[::-1]
print(reversed_txt)

nohtyP

In [43]:
#Split "Learn Python the easy way" into a list of words, then join it back into a single string separated by hyphens (-).
splt ="Learn Python the easy way"
words = splt.split()

# Join the list of words with hyphens
hyphenated_text = "-".join(words)
print(hyphenated_text)

Learn-Python-the-easy-way

In [44]:
#Count how many times the letter 'a' appears in "banana apple avocado".
fruit = "banana apple avocado"

# Count occurrences of the letter 'a'
count_a = fruit.count('a')

# Print the result
print(count_a)

6

In [46]:
#Use f-strings to format and print "I scored 95 in Python, which is awesome!".
score = 95
subject = "Python"
print(f"I scored {score} in {subject}, which is awesome!")

I scored 95 in Python, which is awesome!

# Exercise 2: Lists/Tuples

In [48]:
#Create a list of five fruits: ["apple", "banana", "cherry", "date", "elderberry"]. Print the first and last items.
fruits=["apple", "banana", "cherry", "date", "elderberry"]
print("First fruit:", fruits[0])
print("Last fruit:", fruits[-1])

First fruit: apple
Last fruit: elderberry

In [49]:
#Add "fig" to the list above, remove "cherry", and replace "banana" with "blueberry".
fruits = ["apple", "banana", "cherry", "date", "elderberry"]

fruits.append("fig")

# Remove "cherry" from the list
fruits.remove("cherry")

# Replace "banana" with "blueberry"
fruits[fruits.index("banana")] = "blueberry"

# Print the modified list
print(fruits)

['apple', 'blueberry', 'date', 'elderberry', 'fig']

In [50]:
#Sort the list in ascending order, then reverse it.
fruits.sort()
# Reverse the list
fruits.reverse()
# Print the modified list
print(fruits)

['fig', 'elderberry', 'date', 'blueberry', 'apple']

In [59]:
#: From the list ["Python", "Java", "C++", "Ruby", "Go"], extract the first three languages.
lang=["Python", "Java", "C++", "Ruby", "Go"]
print("first three langs",lang[0:3])

first three langs ['Python', 'Java', 'C++']

In [63]:
#Create a list of numbers [10, 20, 30, 40, 50] and calculate their sum.
numb=[10, 20, 30, 40, 50] 
num_sum=sum(numb)
print(num_sum)

150

In [66]:
#Create a tuple of five numbers and print the maximum and minimum values.
t_numb =(1,2,3,4,5)
type(t_numb)

tuple

In [67]:
max(t_numb)

5

In [68]:
min(t_numb)

1

In [69]:
#Convert the list ["red", "green", "blue"] into a tuple
list=["red", "green", "blue"]
tuple_list=("red", "green", "blue")
print(tuple_list)

('red', 'green', 'blue')

In [70]:
type(tuple_list)

tuple

In [75]:
#Unpack the tuple (1, 2, 3) into three variables and print them
tuple_list=(1, 2, 3)
a,b,c=tuple_list
print(a)
print(b)
print(c)

1
2
3

In [83]:
#Create a new list with the squares of numbers from 1 to 10.
new_list=[1,2,3,4,5,6,7,8,9,10]
square_list=[ i ** 2 for i in range(1,11)]
square_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [88]:
#Find the index of "C++" in the list ["Python", "Java", "C++", "Ruby", "Go"].
lang.index("C++")

2

# Excercise 3: Dictionaries

In [3]:
#Create a dictionary with three key-value pairs: {"name": "Alice", "age": 25, "city": "New York"}.
values_dict ={"name": "Alice", "age": 25, "city": "New York"}
values_dict

{'name': 'Alice', 'age': 25, 'city': 'New York'}

In [4]:
#Access and print the value of "city" in the dictionary above
print(values_dict['city'])

New York

In [5]:
#Update the "age" to 30 and print the dictionary
values_dict['age']=30
print(values_dict)

{'name': 'Alice', 'age': 30, 'city': 'New York'}

In [6]:
#Add a new key "country" with the value "USA" to the dictionary.
values_dict['country']='New York'
print(values_dict)

{'name': 'Alice', 'age': 30, 'city': 'New York', 'country': 'New York'}

In [8]:
#Remove the "city" key from the dictionary and print the result.
values_dict.pop('city')
print(values_dict)

{'name': 'Alice', 'age': 30, 'country': 'New York'}

In [16]:
#Check if the key "name" exists in the dictionary.
if 'name' in values_dict:
    print("key 'name' exits in the dictonary.")

key 'name' exits in the dictonary.

In [36]:
#Iterate over the dictionary and print each key and its
values_dict.items
print(f"key, value")

key, value

In [40]:
#Merge {"x": 1, "y": 2} with {"y": 3, "z": 4} and print the result.
dict1 = {"x": 1, "y": 2}
dict2 = {"y": 3, "z": 4}
dict1.update(dict2)
print(dict1)

{'x': 1, 'y': 3, 'z': 4}

In [8]:
# Print all the keys and values from the dictionary {"Python": 1991, "Java": 1995, "C++": 1985}.
dic = {
        "Python": 1991,
        "Java": 1995,
        "C++": 1985
}
print(dic.values())
print(dic.keys())

dict_values([1991, 1995, 1985])
dict_keys(['Python', 'Java', 'C++'])

In [41]:
# Create a dictionary where keys are numbers from 1 to 5 and values are their squares.
squares_dict = {i: i**2 for i in range(1, 6)}
print(squares_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

### Exercise 4: Sets

In [20]:
# Create a set of three colors: {"red", "green", "blue"}. Print the set.
colors = {"red", "green", "blue"}
print(colors)

{'green', 'blue', 'red'}

In [21]:
# : Add "yellow" to the set and print the result.
colors.add("yellow")
print(colors)

{'yellow', 'green', 'blue', 'red'}

In [22]:
# Remove "green" from the set
colors.remove("green")
print(colors)

{'yellow', 'blue', 'red'}

In [23]:
# : Check if "blue" exists in the set.
print(colors == "blue")

False

In [32]:
# Find the union of {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [33]:
# Find the intersection of {1, 2, 3} and {3, 4, 5}
inter1 = {1, 2, 3}
inter2 = {3, 4, 5}
intersected_set = inter1.intersection(inter2)
print(intersected_set)

{3}

In [34]:
# Find the difference between {1, 2, 3} and {3, 4, 5}
set1 = {1, 2, 3}
set2 = {3, 4, 5}
difference_set = set1.difference(set2)
print(difference_set)

{1, 2}

In [24]:
# Find the length of the set {1, 2, 3, 4, 5}.
print(len(colors))

3

In [36]:
# Check if {1, 2} is a subset of {1, 2, 3, 4} and {1, 2, 3, 4} is a superset of {1, 2}.
set1 = {1, 2, 3, 4}
set2 = {1, 2}
print(set2 <= set1)

True

In [38]:
# Convert the list [1, 2, 2, 3, 4, 4] into a set to remove duplicates and print the set
my_list = [1, 2, 2, 3, 4, 4]
my_set = {*my_list}
print(my_set)

{1, 2, 3, 4}